# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder (contains DB with real data)
instance/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db