{% extends "layout/base.html" %} {% block title %}Edit Note{% endblock %} {%
block content %}

<section class="create-note-section">
  <div class="create-note-container">
    <h1>Edit Note</h1>

    <form method="POST">
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" value="{{ note.title }}" required />
      </div>

      <div class="form-group">
        <label>Content</label>
        <textarea name="content" rows="12" required>
{{ note.content }}</textarea
        >
      </div>

      <button type="submit" class="btn-primary">Update Note</button>
    </form>
  </div>
</section>

{% endblock %}
